@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p, h1, h2 {
    margin-bottom: 10px;
    text-align: justify;
}

header {
    padding: 20px;
}

header, section.normal {
    padding: 20px;
}

main > section.flex-content {
    padding: 20px;
    background-color: rgb(156, 156, 156);
    display: flex;
    flex-flow: column nowrap;
}

main > section.flex-content > article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main > section.flex-content > article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

main > section.flex-content > article > div.text {
    flex: 1 1 500px;
}

main > section.flex-content > article > div.media {
    flex: 1 0 500px;
}

main > section.flex-content > article > div.media > img {
    display: block;
    margin: auto;
    width: 90%;
}

main > section.flex-content > article > div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
}