@charset "UTF-8";

/* Estilo para Telas */

* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 1em;
}

header {
    background-color: rgb(178, 177, 177);
}

header > h1 {
    text-align: center;
}

menu > ul {
    background-color: gray;
    list-style-type: none;
}

menu > ul > li {
    background-color: rgb(33, 33, 33);
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}