@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}

body {
    background: url('../pacote-d013/imagens/fundo-madeira.jpg') no-repeat top center fixed;
    background-size: cover;
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
   background: url('../pacote-d013/imagens/frame-iphone.png') no-repeat;
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 267px;
    height: 471px;
}

section#redes-sociais img {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}

section#redes-sociais {
    display:  flex;
    flex-direction:  column;
    text-align: right;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.600);transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform 0.3s, border 1s;
}

section#redes-sociais img:active {
    transform: scale(95%);
}
