@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode ter um elemento)
    em HTML é class = em CSS é . (pode vários elementos)
*/

body {
    background-color: #97ecc7;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #16583c;
}

h1#principal {
    text-align: center;
    background-color: #4C6158;;
    color: #51B68A;
}


h2 {
    color: rgb(28, 47, 88);
}

.basico {
    color: rgba(0, 128, 0, 0.555);
    font-weight: bolder;
}

.intermediario {
    color: rgb(201, 201, 80);
    font-weight: bolder;
}

.avancado {
    color: rgba(255, 0, 0, 0.548);
    font-weight: bolder;
}

.destaque {
    background-color: rgba(204, 204, 100, 0.459);
}