@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    nav {
        display: block; /* Se colocar um   !important do lado do block, podemos ignorar o onresize do body e o script*/
    }

    nav > ul > li {
        display: inline-block;
        padding-left: 5px;
    }
}