@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #E3E3E1;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    flex: 0 0 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header > nav > a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;

}

header > nav > a:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.479);
}